@charset "UTF-8";

/*common*/
.center{
	text-align: center;
}
.right{
	text-align: right;
}
.offset-top-20{
	margin-top: 20px
}
.offset-top-30{
	margin-top: 30px
}
.offset-top-50{
	margin-top: 50px
}

.page-content-s{
	width: 30%;
	margin-left:35%;
	margin-right:35%;
	margin-bottom: 50px;
	margin-top: 50px;
}
.page-content-l{
	width: 80%;
	margin-left:10%;
	margin-right:10%;
	margin-bottom: 50px;
	margin-top: 50px;
}

.navbar-default{
	background-color: #137b84;
	border-color: #137b84;
}
.navbar-default .navbar-brand{
	color: #fff;
}
.navbar-default .navbar-nav > li > a{
	color: ##f2e6db;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
    color: #555;
    background-color: #f2e6db;
}
.navbar-default .navbar-nav > li > a {
    color: #f2e6db;
}
.navbar-default .navbar-brand {
    color: #f2e6db;
}


.infotab>ul>li>a {
	color: #60927e;
}
.infotab>ul>li.active>a{
	background-color: #60927e;
}
.nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
    color: #fff;
    background-color: #60927e;
}

.my-account{
	border-left: 2px solid #60927e;
}

.myhome{
	padding:50px 100px;
	margin-top: 10px;
}
.prescription-item{
	border:1px solid #60927e;
	border-radius: 5px;
	margin:5px;
	width: 48%
}
.prescription-item caption{
	font-size: 20px
}
.no-border{
     border: 0px solid transparent !important;
 }

.cart-item{
	width: 250px;
	box-sizing: border-box;
	margin:10px;
	padding: 0px;
	border:2px solid rgb(0, 188, 212);
  border-radius: 5px
          
}
.cart-item-header, .cart-item-body, .cart-item-footer{
	padding:20px;
}
.cart-item-header{
	color: #000;
	font-size: x-large;
  
	text-align: center;
    background: rgb(0, 188, 212);
	padding-bottom: 10px;
	
}
.cart-item-body{
	padding-top: 25px;
	padding-bottom: 25px;
	color: rgb(0, 188, 212);

}
.cart-item-body img{
	width: 100%;
}
.cart-item-body table{
	margin-top: 30px;
	color: #000;
}

.cart-item-footer{
	padding-bottom: 10px;
	text-align: center;
}

.cart-item-lg{
	width: 100%;
	box-sizing: border-box;
	margin-top:10px;
	padding-top: 10px;
	border:1px solid #eee;
  border-radius: 5px;
  float: left;
}


.th-list{
	height: 50px;
	line-height: 50px;
	font-size: 15px;
}

.th,.tr{
	float: left;
	margin-left: 20px;
}
.th{
	text-align: left;
	position: relative;}

.th-check,.tr-check{
	width: 50px;
}
.th-info,.tr-info,.tr-info img{
	width: 200px;
}
.tr-info img{margin-top: 20px}
.th-pre,.tr-pre{
	width: 250px;
}
.th-add,.tr-add{
	width: 150px;
}
.th-price,.tr-price{
	width: 100px;
}
.th-count,.tr-count{
	width: 50px;
}
.th-operator,.tr-operator{
	width: 150px;
}

.checkout button{
	margin-top: 50px;
	margin-bottom: 50px;
	width: 200px;
}